.btn-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  padding: 0px !important;
  border-radius: 50% !important;
  width: 3rem;
  height: 3rem;
  z-index: 100;
}

.btn-top.show {
  opacity: 1;
  transition: opacity 0.5s ease;
}
